.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s 0.3s,
    opacity 0.3s;
  z-index: 999;
}

.modal_is-opened {
  display: flex !important;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  width: 430px;
}

.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.modal__close-button:hover {
  color: #565656;
}

.modal__submit-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 54px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
  color: #000;
}

.modal__submit-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  margin-top: 18px;
}

.modal__submit-button.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__error {
  color: #ff0000;
  font-size: 12px;
  display: block;
  min-height: 14px;
  border-top: 1px solid #ff0000;
}

.modal__image {
  object-fit: cover;
  max-width: 100%;
}

.modal__image-content {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  text-align: left;
  font-family: "inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
}

.modal__image-title {
  color: #ffffff;
  font-size: 12px;
  font: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 90%;
    max-width: 282px;
    padding: 22px;
  }
}
