.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 40px;
  border-top: 1px solid #545454;
}

.profile__image {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.profile__info-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 415px;
}
.profile__info {
  padding-left: 30px;
  padding-top: 22px;
}

.profile__text-icon {
  display: flex;
}

.profile__user {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 15px;
  background-image: url(../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile__bio {
  margin: 0;
  padding-top: 16px;
  max-width: 415px;
  height: 22px;
  color: #ffffff;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin-left: auto;
}

.profile__add-icon {
  display: inline-block;
  background-image: url(../images/Add-Icon.svg);
  color: #ffffff;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile__image-container {
  position: relative;
  width: 120px; /* Use o tamanho real do seu projeto */
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  /*display: block;
  pointer-events: auto;*/
}

.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  background-image: url("../images/edit-icon.svg"); /* O caminho do seu ícone de lápis */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.profile__image-container:hover .profile__avatar-edit-button {
  opacity: 1 !important; /* Aparece quando passa o mouse */
  visibility: visible !important;
}

@media screen and (max-width: 1135px) {
  .profile {
    padding: 0 30px 0;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 0 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 282px;
  }

  .profile__info {
    padding: 0;
  }
  .profile__user {
    font-size: 22px;
    line-height: 28px;
  }

  .profile__bio {
    font-size: 14px;
    padding-top: 14px;
    justify-content: center;
  }
  .profile__edit-button {
    margin: 4px 0 0 10px;
    height: 18px;
    width: 18px;
  }

  .profile__info-wrapper {
    padding: 30px 0 36px;

    margin: 0 auto;
    width: 282px;
    justify-content: center;
  }

  .profile__text-icon {
    justify-content: center;
  }

  .profile__add-button {
    width: 100%;
    max-width: none;
  }
}
